*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url("../img/background.png");
  background-size: cover;
}

.container{
  width: 1000px;
  margin: auto;
}

header{
  height: 400px;
  background-image: url("../img/header_bg.jpg");
  position: relative;
}

nav{
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: brown;
}

/* classe utility */

.float-left{
  float: left;
}
