*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url("../img/background.png");
  background-size: cover;
}

.container{
  width: 1000px;
  margin: auto;
}

header{
  height: 400px;
  position: relative;
  color: white;
  text-align: center;
  text-transform: uppercase;

}

.header-top{
  height: 380px;
  border: 10px solid white;
  background-image: url("../img/header_bg.jpg");
  position: relative;
}

.header-top h1{
  font-size: 28px;
  font-weight: 600;
}

.header-logo{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-logo img{
  width: 50%;

}

/* sezione navbar */
nav{
  width: 100%;
  height: 44px;
  background-color: #504741;
}

.navbar ul{
  list-style: none;
}

.menu li{
  display: inline-block;
  padding: 0 10px;
  line-height: 44px;
}

.menu li a{
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: lighter;
  padding: 0 5px;
}


.menu li:hover{
  background: lightgrey;
}

.menu li a:hover{
  text-decoration: underline;

}
/* classe utility */

.float-left{
  float: left;
}

.mt-20{
  margin-top: 20px;
}

.mb-20{
  margin-bottom: 20px;
}


main::after{
  content: "";
  display: table;
  clear: both;
}

.col-left, .col-right{
  width: 20%;
  background: white;
}

.col-center{
  width: 50%;
  background: white;
  margin: 0 5%;
}

footer{
  height: 200px;
  margin-top: 20px;
  background: white;
}
